{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <h1>
        {%  blocktrans trimmed %}
            {{ title }}
        {% endblocktrans %}
    </h1>
    <ul>
    {% for object in object_list %}
            <li>
                <a href="{% url "poll_detail" object.pk %}">
                    {{ object }}
                </a>
                <div id="buttonPoll">
                    <a href="{% url "poll_update" object.pk %}">
                        Modifier
                    </a>
                    <a href="{% url "poll_delete" object.pk %}">
                        Supprimer
                    </a>
                </div>
            </li>
    {% endfor %}
    </ul>
{% endblock %}