{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <h1>
        {%  blocktrans trimmed %}
            {{ title }}
        {% endblocktrans %}
    </h1>
    <form action="{% url "searching" %}" method="post" class="search">
        {% csrf_token %}
        <button type="submit">
            {% trans "Search" %}
        </button>
        <input type="search" class="form-control mr-sm-2" placeholder="{% trans "Search" %}"
               aria-label="Search" name="poll-search" value="{{ search }}" />
    </form>
    <ul>
        {% for author in authors %}
            <h1> {{ author.username }}</h1>
            {% for object in pollsByAuthor %}
                {% if object.author.username == author.username %}
                    <li>
                        <p>
                            {{ object }}
                        </p>
                        <div id="buttonPoll">
                            <button onclick="location.href='{% url "poll_vote" object.pk %}'" type="button">
                                {%  trans "Vote" %}
                            </button>
                            <button onclick="location.href='{% url "poll_detail" object.pk %}'" type="button">
                                {%  trans "View results" %}
                            </button>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
{% endblock %}