<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Créer un sondage</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
        {% if field.error %}
            <span class="field-error">{{ field.error }}</span>
        {% endif %}
        <p>
            <span>{{ field.label }}</span>
            {{ field }}
        </p>
    {% endfor %}
    <button type="submit">Ajouter</button>
</form>
<a href="{% url "poll_list" %}">Acceuil</a>
</body>
</html>